body{
	font-size:12px;
	font-family: Arial
}

#dropzone{
	color:#333;
	width:300px;
	height:150px;
	background:#ddd;
	border:1px solid #aaa;
	line-height: 150px;
	text-align:center;
	margin:50px auto;
}